@model IEnumerable<CarRental02.Models.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Car.CarColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservationStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.BranchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car.CarColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReservationStatus)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ReservationId }) |
            @Html.ActionLink("Receive It", "ReceiveIt", new { id=item.ReservationId })
        </td>
    </tr>
}

</table>
