@model CarRental02.Models.Reservation

@{
    ViewBag.Title = "Receive Car";
}

<h2>Receive Car</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h3>Are you sure you want to <em>Receive</em> this car?</h3>
    <div>
        <h4>Reservation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ReservationId)
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Member)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Member)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Branch.BranchName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Branch.BranchName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Car.CarColor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Car.CarColor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Car.Kilometrage)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Car.Kilometrage)
            </dd>

            <dt>
                @Html.Label("New Kilometrage")
            </dt>
            <dd>
                @Html.EditorFor(model => model.Car.Kilometrage)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.FromDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FromDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ToDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ToDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReservationStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReservationStatus)
            </dd>

        </dl>

        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Index")
            <input type="submit" value="ReceiveIt" class="btn btn-default" />
        </div>
        
    </div>
}