@model IEnumerable<CarRental02.Models.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Cars</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using(@Html.BeginForm("Index", "Cars", FormMethod.Get))
{
    <p>Car Code:
        <select id="FilterCarCode">
            <option value="All">All</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
        </select>
        <b>Find By</b> Code: @Html.TextBox("FilterCarCode", ViewBag.CarCodeFilter as string) | 
        City: @Html.TextBox("FilterCity", ViewBag.FilterCity as string)
        <input type="submit" value="Search" />
    </p>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#divfade").fadeOut(8000);
    }
    )
</script>
@{
    if (TempData["Added"] != null)
    {
        var v = TempData["Added"] as String;
        <div id="divfade">
            <b><font size="1" color="red">@v</font></b>
        </div>
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Plates)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kilometrage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarType.CarCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarType.DailyPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarType.DailyLatePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Plates)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.City.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.BranchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kilometrage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarType.CarCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarType.DailyPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarType.DailyLatePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @*@Html.ActionLink("Select", "Select", new { id=item.CarId }) |*@
            @Html.ActionLink("Edit", "Edit", new { id=item.CarId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CarId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CarId })
        </td>
    </tr>
}

</table>
