@model RegistrationDemo.Models.EditMemberViewModel
@using RegistrationDemo.Models

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@*@if (!ViewData.ModelState.IsValid)
{
    @Html.ValidationSummary("You have some errors")
}*@

@Html.ValidationSummary("You have some errors")

<form action="/Home/Edit" method="post">
    
    <div class="input-field">
        ID:
        @Model.MemberData.Id
        @Html.Hidden("Id",@Model.MemberData.Id)
    </div>
    
    <div class="input-field">
        Name:
    @Html.TextBox("Name", Model.MemberData.Name)
        @Html.ValidationMessage("Name")
    </div>
    
    <div class="input-field">
        Seniority:
    @Html.TextBox("Seniority", Model.MemberData.Seniority)
        @Html.ValidationMessage("Seniority")
    </div>
    
    <div class="input-field">
        @Html.CheckBox("IsProgrammer")
        Programmer
    </div>
    
    <div class="input-field">
        City:
        @Html.DropDownList("CityId", new SelectList(Model.Cities, "CityId", "CityName", Model.MemberData.CityId), "Select")
        @Html.ValidationMessage("CityId")
    </div>

    
    <div class="input-field">
        @Html.TextBox("BirthDate", @Model.MemberData.BirthDate.ToShortDateString())
        @Html.ValidationMessage("BirthDate")
    </div>
    
    <div class="input-field">
        @Html.CheckBox("IsAcceptConditions", @Model.MemberData.IsAcceptConditions)
        I agree<br />
        @Html.ValidationMessage("IsAcceptConditions")
    </div>
    
    <div class="input-field">
        <input type="submit" value="Update" />
    </div>
</form>