@model AjaxTriangle.Models.Triangle

<p>
    <fieldset>
        @Html.LabelFor(m => m.SideA):
        @Html.DisplayFor(m => m.SideA)
        <br />
        @Html.LabelFor(m => m.SideB):
        @Html.DisplayFor(m => m.SideB)
        <br />
        @Html.LabelFor(m => m.SideC):
        @Html.DisplayFor(m => m.SideC)
        <br />
        <br/>
        @Html.LabelFor(m => m.Perimeter):
        @Html.DisplayFor(m => m.Perimeter)
        <br />
        @Html.LabelFor(m => m.Area):
        @Html.DisplayFor(m => m.Area)
        <br />


    </fieldset>
</p>