@model CookiesDemo.Models.RegistrationInfo

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm())
{
    if (Model.IsRegistered)
    {
        <h3>You are registered</h3>
    }
    else
    {
        <h3>Please sign in</h3>
    }
    
    <fieldset>
        <legend>aaa</legend>
        <div>
            @*@Html.DisplayNameFor(m => m.Username)*@
            Username
            @Html.TextBoxFor(m => m.Username)
            <br /><br />
            @Html.DisplayNameFor(m => m.Profession)
            @Html.TextBoxFor(m => m.Profession)
            <br /><br />
            @Html.DisplayNameFor(m => m.UserID)
            @Html.TextBoxFor(m => m.UserID)
            <br /><br />
            <input type="submit" value="Submit" />
        </div>
    </fieldset>
}
