@model IEnumerable<CarRental02.Models.CarBrand>

@{
    ViewBag.Title = "Index";
}

<h2>Car Brands</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BrandName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CarBrandId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CarBrandId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CarBrandId })
        </td>
    </tr>
}

</table>
