@{
    ViewBag.Title = "Add";
}

<h2>ShowExercise -- @ViewBag.Operation</h2>

<form action="/Home/ExerciseResult">
    First:<br />
    <input type="text" name="first" value="@Model.First"/>
    <br /><br />
    Second:<br />
    <input  name="second" value="@Model.Second"/>
    <br /><br />
    <input type="submit" value="Calculate" />
    <br /><br />
    <div>
        @ViewBag.Result
    </div>

    <a href="/">Index</a>

    <input type="hidden" name="operation" value="@ViewBag.Operation" />

</form>
