@model IEnumerable<CarRental02.Models.CarModel>

@{
    ViewBag.Title = "Index";
}

<h2>Car Models</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#divfade").fadeOut(8000);
    }
    )
</script>
@{
    if (TempData["Added"] != null)
    {
        var v = TempData["Added"] as String;
        <div id="divfade">
            <b><font size="1" color="red">@v</font></b>
        </div>
    }
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarBrand.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarBrand.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CarModelId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CarModelId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CarModelId })
        </td>
    </tr>
}

</table>
