@model RegistrationDemo.Models.DeleteMemberViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this member?</h3>

<p>
    ID: @Model.MemberData.Id
</p>
<p>
    Name: @Model.MemberData.Name
</p>
<p>
    Seniority: @Model.MemberData.Seniority
</p>
<p>
    Enter answer to the exercise:
    <span>@Model.Exercise</span>
</p>

<form action="/Home/Delete" method="post">
    <p>
        <input name="UserAnswer"/>
        @if (!ViewData.ModelState.IsValidField("UserAnswer"))
    {
        <span class="input-validation-error">@ViewData.ModelState["UserAnswer"].Errors[0].ErrorMessage</span>
    }
    </p>
    <input type="hidden" name="memberData.id" value="@Model.MemberData.Id"/>
    <input type="hidden" name="rightAnswer" value="@Model.RightAnswer"/>
    <input type="hidden" name="exercise" value="@Model.Exercise"/>
    <input type="submit" value="Delete" />
    <input type="button" value="cancel" onclick="window.location = '/Home/Index'" />
</form>
