@model CarRental02.Models.Reservation

@{
    ViewBag.Title = "Create";
}
<link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<script type='text/javascript'>
    $(function(){
      $('.My-date-picker').datepicker();
    })
</script>
<h2>Make a Reservation</h2>
@*<input class='My-date-picker' value='01/03/1953' />*@



@using (@Html.BeginForm("Index", "Reservations", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <p>
            <b>Find By</b> Code: @Html.TextBox("FilterCarCode", null, htmlAttributes: new { @class = "form-control" })
            City: @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "form-control" })
            <div class="form-group">
                Start Date: @Html.TextBox("StartDate", null, "{0:MM/dd/yyyy}")
            </div>
            <div class="form-group">
                End Date: @Html.TextBox("EndDate", null, "{0:MM/dd/yyyy}")
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        </p>
        
    </div>
}

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
