@model CarRental02.ViewModels.CarViewModel

@{
    ViewBag.Title = "Reservation";
}

<h2>Reservation</h2>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarData.Branch.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarData.Branch.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarData.CarModel.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarData.CarModel.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Model.StartDate.Value.ToString("dddd MMM/dd/yyyy")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Model.EndDate.Value.ToString("dddd MMM/dd/yyyy")

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarData.CarType.DailyPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarData.CarType.DailyPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarData.CarType.DailyLatePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarData.CarType.DailyLatePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysRented)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DaysRented)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quote)
        </dd>

        @if (Model.CarData.CarType.Files.Any(f => f.FileType == CarRental02.Models.FileType.CarImage))
        {
            <dd>
                <img src="~/File?id=@Model.CarData.CarType.Files.First(f => f.FileType == CarRental02.Models.FileType.CarImage).FileId" border-radius="30px" alt="carImage" />
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Reservations", "Index", new { FilterCarCode=Model.CarData.CarType.CarCode, StartDate = Model.StartDate, EndDate = Model.EndDate } ) |
    @Html.ActionLink("Accept Reservation", "Edit", new { CarId = Model.CarData.CarId, StartDate = Model.StartDate, EndDate = Model.EndDate, Quote = Model.Quote }) 
</p>
