@model CarRental02.ViewModels.ReservationViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Reservations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#divfade").fadeOut(8000);
    }
    )
</script>
@{
    if (TempData["Added"] != null)
    {
        var v = TempData["Added"] as String;
        <div id="divfade">
            <b><font size="1" color="red">@v</font></b>
        </div>
    }
}

@using (@Html.BeginForm("Index", "Reservations", FormMethod.Get))
{
    <p>        
        <b>Find By</b> Code: 
        @*@Html.TextBox("FilterCarCode", Model.FilterCarCode)*@
         | City: @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "form-control" })
        
        <input type="submit" value="Search" />
    </p>
}


<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.CarData.Branch.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarData.CarColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReturned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservationStatus)
        </th>*@
        <th>
        </th>
    </tr>


@foreach (var item in Model.CarData) {
    <tr>
        <td>
            @Html.LabelFor(modelItem => item.Branch.BranchName)
            @Html.DisplayFor(modelItem => item.Branch.BranchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plates)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.City.CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.BranchName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kilometrage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarType.CarCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarType.DailyPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarType.DailyLatePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>

        @*<td>
            @Html.DisplayFor(modelItem => item.MemberId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReturned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReservationStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReservationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReservationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReservationId })
        </td>*@
    </tr>
}

</table>
