@model CarRental02.ViewModels.ReservationViewModel

@{
    ViewBag.Title = "Index";
    ViewBag.StartDate = Model.StartDate;
    ViewBag.EndDate = Model.EndDate;
}

<h2>Reservations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#divfade").fadeOut(8000);
    }
    )
</script>
@{
    if (TempData["Added"] != null)
    {
        var v = TempData["Added"] as String;
        <div id="divfade">
            <b><font size="1" color="red">@v</font></b>
        </div>
    }
}

@using (@Html.BeginForm("Index", "Reservations", FormMethod.Get))
{
    <p>
        <b>Find By</b> Code: @Html.TextBox("FilterCarCode", null, htmlAttributes: new { @class = "form-control" })
        City: @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "form-control" })
        From Date: @Html.TextBox("StartDate", null, htmlAttributes: new { @class = "form-control" })
        To Date: @Html.TextBox("EndDate", null, htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Search" />
    </p>
}

@using (@Html.BeginForm("Details", "Reservations", FormMethod.Get))
{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Branch.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarType.CarCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModel.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarType.DailyPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarType.DailyLatePrice)
            </th>
            <th>
            </th>
        </tr>


        @foreach (var item in Model.CarData)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Branch.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarType.CarCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarModel.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarType.DailyPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarType.DailyLatePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.ActionLink("Make a Reservation", "Details", new { id = item.CarId, StartDate = Model.StartDate, EndDate = Model.EndDate })
                </td>

            </tr>

        }
    </table>
}