@model AjaxDemo.Models.Person

<p>
    @Html.LabelFor(m=>m.ID):
    @Html.DisplayFor(m=>m.ID)
    <br />
    @Html.LabelFor(m=>m.Name):
    @Html.DisplayFor(m=>m.Name)
    <br />
    @Html.LabelFor(m=>m.Degree):
    @Html.DisplayFor(m=>m.Degree)
    <br />
    @Html.LabelFor(m=>m.Amount):
    @Html.DisplayFor(m=>m.Amount)
    <br />
    @if (Model.LikeBananas) 
    {
        <text>Likes Bananas</text>
    }
    else 
    {
        <text>HATES Bananas</text>
    }
</p>


