@model IEnumerable<AjaxMemberList.Models.Member>


<table style="border:1px solid black; background-color:silver">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Changer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProgrammer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Changer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsProgrammer)
        </td>
    </tr>
}

</table>
