
<h2>ShowExercise -- @Model.Operation</h2>

<form action="/Home/ExerciseResult">
    First:<br />
    <input type="text" name="first" value="@Model.First"/>
    <br /><br />
    Second:<br />
    <input  name="second" value="@Model.Second"/>
    <br /><br />
    <input type="submit" value="Calculate" />
    <br /><br />
    <div>
        @Model.Result
    </div>

    <a href="/">Index</a>

    <input type="hidden" name="operation" value="@Model.Operation" />

</form>
