@using UserCountingApp.Models
@model CountingModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.DisplayNameFor(m=>m.ConcurrentUsers)
@Html.ValueFor(m=>m.ConcurrentUsers)
<br /><br />
@Html.DisplayNameFor(m=>m.ApplicationSessionUsers)
@Html.ValueFor(m=>m.ApplicationSessionUsers)
<br /><br />
@Html.DisplayNameFor(m=>m.ApplicationAllUsers)
@Html.ValueFor(m=>m.ApplicationAllUsers)

<p>
    @Session["ClickCount"] Clicks
</p>

<form action="/" method="post">
    <input type="submit" value="Send" />
</form>

