@model CarRental02.Models.CarType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CarType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DailyLatePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyLatePrice)
        </dd>

        <dt>
            @Html.DisplayFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
            @Model.Picture
        </dd>

        @if (Model.Files.Any(f => f.FileType == CarRental02.Models.FileType.CarImage))
        {
            <dd>
                <img src="~/File?id=@Model.Files.First(f => f.FileType == CarRental02.Models.FileType.CarImage).FileId" alt="carImage" />
            </dd>
        }            
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
