@model IEnumerable<CarRental02.Models.CarType>

@{
    ViewBag.Title = "Index";
}

<h2>Car Types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#divfade").fadeOut(8000);
    }
    )
</script>
@{
    if(TempData["Added"] != null){
        var v = TempData["Added"] as String;
        <div id="divfade">
            <b><font size="1" color="red">@v</font></b>
        </div>
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model=>model.CarCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarModel.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DailyPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DailyLatePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarCode)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.CarModel.ModelName)*@
            @Html.DisplayFor(modelItem=>item.CarModel.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DailyPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DailyLatePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gear)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CarTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CarTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CarTypeId })
        </td>
    </tr>
}

</table>
